/* Oculta el contenido hasta que se complete la carga */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9E0AE;
    z-index: 9999;
    transition: transform 1s ease-in-out; /* Transición suave hacia arriba */
}

#loader img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px;
    animation: spin infinite 1s linear;
}

/* Texto de advertencia de conexión */
#connection-warning {
    margin-top: 20px;
    font-size: 18px;
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Animación de giro infinito */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    
    background-image: url('https://papiquieropizzaya.com/fondo-2.jpeg'); /* Reemplaza con la ruta real de tu imagen */
    background-repeat: repeat; /* Controla si la imagen se repite (opcional) */
    background-size: cover; /* Controla el tamaño de la imagen (opcional) */
    background-position: center; /* Controla la posición de la imagen (opcional) */
      background-attachment: fixed
    
  }

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.footer {
    text-align: center;
    padding: 30px solid #ffffffd5;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.header {
    text-align: center;
    padding: 50px solid #ff1616;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.info {
    border: #851bff;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.menu-item {
    border: 6px solid #ff1616;
    margin: 20px; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.menu-item p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.im { 
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 10px;
}

.map { 
    width: auto;
    height: auto;
}

.vid {
    width: 100%;
    border-style: ridge;
    border-radius: 10px;
}

a {
    color: aqua;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: crimson;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.carousel {
    max-width: 60%;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel ul li {
    flex: 0 0 auto;
    width: 100%; /* Asegura que cada imagen ocupe el 100% del ancho */
}

.carousel img {
    width: 100%;
    display: block;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.button {        
    background-color: #c2a033;
    border: none;
    color: white;
    padding: 55px a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 55px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    min-width: 100px;

}

.button-pedido-en-linea {        
    background-color: #ff790b;
    border: none;
    color: white;
    padding: 55px a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 55px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    min-width: 100px;

}



#big-button:hover {
    color: crimson;
    font-size: 55px;
    background-color: rgba(0, 0, 0, 0.8);
}

.button-container {
    text-align: center;
}

.img-pizzas-mostrario {
    width: 260px;
    border-radius: 16px;
}

.links-ids-none-navbar {
    text-align: center;
}

@media (min-width: 1000px) {
    
    .carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 14px;
    }

    .vid {
        width: 60%;
        border-style: ridge;
        border-radius: 10px;
        align-tracks: center;
    }

    .im { 
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
        border-radius: 16px;
        margin-top: 10px;
    }
    
    .im:hover {
        transform: scale(1.1);
    }
    
    .container-pizzas {
        display: flex;
    }

    .img-pizzas-mostrario {
        width: 260px;
        border-radius: 16px;
    }
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed; /* Cambiado a fixed para que se mantenga visible */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
    transition: top 0.3s; /* Añade una transición suave para mostrar/ocultar la navbar */
}

.navbar-hidden {
    top: -100px; /* Ajusta este valor según la altura de tu navbar */
}

.logo img {
    height: 50px; /* Ajusta el tamaño del logo aquí */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: rgb(252, 0, 0);
    text-decoration: none;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.nav-links a:hover {
    color: #f4b400;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 70px; /* Establece la distancia desde la parte superior de la pantalla */
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 235px;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
    }

    .nav-links li {
        opacity: 0;
        margin-bottom: 30px; /* Añade más separación entre los elementos */
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-active li {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        transition-delay: 0.3s;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

}


.im-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}