* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 2rem 0;
    background: #1098c2;
    color: #000000;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #1649b9;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 1rem;
}

ul li {
    background: #fff;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.05);
}

.project-card {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1rem;
}

.project-card a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #6943f0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.3s, background 0.3s;
}

.project-card a:hover {
    background: #5429ee;
    transform: scale(1.05);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.WBtn {
    background: #1b9c1b;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s;
}

.WBtn:hover {
    background: #2ad12a;
    transform: scale(1.05);
}

.CBtn {
    background: #1b629c;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s; 
}

.CBtn:hover {
    background: #4e90c7;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.footer-logos a {
    display: inline-block;
}

.footer-logos .logo {
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

.footer-logos .logo:hover {
    transform: scale(1.2);
}


/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        width: 90%;
        padding: 0;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1.5rem 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    ul li {
        font-size: 0.9rem;
    }

    .project-card {
        padding: 0.8rem;
    }

    .btn {
        padding: 0.7rem 1.2rem;
    }
}

/* Oculta el contenido hasta que se complete la carga */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e90c7;
    background-repeat: repeat; 
    background-size: cover; 
    background-position: center; 
      background-attachment: fixed;
    z-index: 9999;
    transition: transform 1s ease-in-out; /* Transición suave hacia arriba */
}

#loader img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px;
    animation: spin infinite 1s linear;
    border-radius: 9999px;
}

/* Texto de advertencia de conexión */
#connection-warning {
    margin-top: 20px;
    font-size: 18px;
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Animación de giro infinito */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.carousel {
    max-width: 60%;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel ul li {
    flex: 0 0 auto;
    width: 100%; /* Asegura que cada imagen ocupe el 100% del ancho */
}

.carousel img {
    width: 100%;
    display: block;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media (min-width: 768px) {
    .carousel {
        width: 42%;
    }
}
