* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 2rem 0;
    background: #ff6600;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #ff6600;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 1rem;
}

ul li {
    background: #fff;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.05);
}

.project-card {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1rem;
}

.project-card a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.project-card a:hover {
    background: #cc5200;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.WBtn {
    background: #1b9c1b;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s;
}

.WBtn:hover {
    background: #2ad12a;
    transform: scale(1.1);
}

.CBtn {
    background: #1b629c;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s;
}

.CBtn:hover {
    background: #4e90c7;
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.footer-logos a {
    display: inline-block;
}

.footer-logos .logo {
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

.footer-logos .logo:hover {
    transform: scale(1.2);
}


/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        width: 90%;
        padding: 0;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1.5rem 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    ul li {
        font-size: 0.9rem;
    }

    .project-card {
        padding: 0.8rem;
    }

    .btn {
        padding: 0.7rem 1.2rem;
    }
}
