/* Oculta el contenido hasta que se complete la carga */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9E0AE;
    z-index: 9999;
    overflow: hidden;
}

/* Estilo del pizzero */
#pizzero {
    position: absolute;
    right: -300px; /* Inicia fuera de la pantalla */
    bottom: 50%;
    transform: translateY(50%);
    width: 250px; /* Más grande */
    height: auto;
    animation: pizzeroInOut 2s ease-in-out forwards; /* Más tiempo para entrada y salida */
}

/* Estilo de la pizza */
#pizza {
    position: absolute;
    right: 70px; /* Ajuste para que parezca sobre la pala */
    bottom: 170px; /* Ajuste para que parezca sobre la pala */
    width: 120px; /* Tamaño ajustado */
    height: 120px;
    animation: spin 1s infinite linear;
}

/* Animación para que el pizzero aparezca y luego desaparezca */
@keyframes pizzeroInOut {
    0% {
        right: -300px;
        opacity: 0;
    }
    25% {
        right: 0; /* Entra al centro */
        opacity: 1;
    }
    75% {
        right: 0; /* Permanece en el centro */
        opacity: 1;
    }
    100% {
        right: -300px; /* Sale de la pantalla */
        opacity: 0;
    }
}

/* Animación de giro infinito para la pizza */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
